*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-size: 10px;
  background-color: #fffdf5;
}

.container {
  width: 100%;
  display:block;
  padding-left: 15px;
  padding-right: 15px;
}

section {
  margin: 0 auto;
  max-width: 1260px;
  padding-top: 100px;
  padding-bottom: 100px;
}

/* Top Navigation */
.nav {
  display:flex;
  /* border: 2px solid green; */
  width: 100%;
  padding-bottom: 50px;
  /* text-align: center; */
  padding-left: 0px;
}

.nav li {
  /* border: 2px solid red; */
  flex: 1;
  width: 33%;
  padding: 70px 0;
  font-family: FFSuperGroteskWebProMedium, sans-serif;
  letter-spacing: 0.15em;
  color: #123350;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
  list-style: none;
  font-weight: 200;
}

h2 {
  font-weight: 500;
}

.about {
  text-align: left;
}

.techies {
  text-align: center;
}

.submit {
  text-align: right;
}

img {
  max-width: 100%;
  height: auto;
}

/* Filter Section */
.filter-wrapper {
  font-family: FFSuperGroteskWebProMedium, sans-serif;
  color: #acacac;
  font-size: 14px;
  letter-spacing: 0.15em;
  cursor: pointer;
  text-align: center;
  padding: 36px 0;
  line-height: 0;
  transition: color 0.5s ease;
  border-top: 1px solid #123350;
  border-bottom: 1px solid #123350;
}


/* Main Gallery */

.gallery {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* border: 2px solid blue; */
  width: 100%;
  list-style: none;
  padding: 0;
}

.portrait {
  /* border: 2px solid black; */
  text-align:center;
  padding: 15px 0px 15px 0px;
  color: #123350;
}

h3 {
  text-align: center;
  font-size: 16px;
  font-family: FFSuperGroteskWebProRegular, sans-serif;
  letter-spacing: 0.15em;
  line-height: 1.4;
  margin-bottom: 0;
}

h4 {
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  line-height: 2;
  font-family: FFSuperGroteskWebProMedium, sans-serif;
  letter-spacing: 0.15em;
}

/* Footer */
.footer-wrapper {
  display:flex;
  /* border: 2px solid orange; */
  width: 100%;
  border-top: 3px solid #123350;
  border-bottom: 1px solid #123350;
  list-style: none;
  padding: 65px;
}

.footer-wrapper ul {
  width: 25%;
  list-style: none;
  margin: 0;
}

.sponsors img {
  margin-bottom: 20px;
}

.icon {
  width: 25%;
}

.icon img {
  width: 101px;
  height: 134px;
  margin-top: 15px;
}

h5 {
  font-family: FFSuperGroteskWebProMedium, sans-serif;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-size: 12px;
  color: #123350;
  margin-bottom: 65px;
  opacity: 0.5;
}

h6 {
  font-size: 20px;
  font-family: FFSuperGroteskWebProRegular, sans-serif;
  text-decoration: none;
  color: #123352;
}

.social {
  transition: opacity 0.5s ease;
  background-image:url(images/footer_social.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 23px;
  width: 23px;
  display: inline-block;
  margin: 0 5%;
}

/* This positions that social photo for each icon */

.twitter {
  background-position: 0 0;
}

.instagram {
  background-position: -58px 0;
}

.facebook {
  background-position: -115px 0;
}

.pinterest {
  background-position: -171px 0;
}

.medium {
  background-position: -227px 0;
}

.copyright {
  text-transform: uppercase;
  font-size: 10px;
  color: #acacac;
  font-family: FFSuperGroteskWebProMedium, sans-serif;
  letter-spacing: 0.15em;
  text-align: center;
  margin-top: 45px;
}

/* Portrait Detail Page */
.featured-image img {
  display: block;
  width: 100%;
  margin: 0 auto;
  border: 0;
  vertical-align: middle;
}

.portrait-title {
  border-bottom: 3px solid #123350;
}

.techie-name {
  font-family: FFSuperGroteskWebProRegular, sans-serif;
  letter-spacing: 0.15em;
  font-size: 80px;
  text-align: center;
  margin-top: 110px;
  line-height: 1;
  margin-bottom: 75px;
}

.content-header {
  width: 100%;
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 65px;
  border-bottom: 1px solid #123350;
  display:block;
  /* display: flex; */
}

.stats {
  width: 50%;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.meta {
  margin: 0;
  padding: 0 50px 0 0;
  margin-bottom: 65px;
  display: block;
  list-style-type: disc;
  font-size: 14px;
}

/* Icon Images */
.meta .years {
  background-image: url(https://techiesproject.com/d1lhy388c2xgxf/techies_interview_icon_years_2x.png);
  background-size: 23px;
}

.meta .role {
  background-image: url(https://techiesproject.com/d1lhy388c2xgxf/techies_interview_icon_position_2x.png);
  background-size: 23px;
}

.meta .location {
  background-image: url(https://techiesproject.com/d1lhy388c2xgxf/techies_interview_icon_location_2x.png);
  background-size: 23px;
}

.meta .date {
  background-image: url(https://techiesproject.com/d1lhy388c2xgxf/techies_interview_icon_date_2x.png);
  background-size: 23px;
  border: 0;
}


.meta li {
  overflow: hidden;
  list-style-type: none;
  clear: both;
  border-bottom: 1px solid #123350;
  padding: 30px 0 30px 45px;
  background-repeat: no-repeat;
  background-position: 0 center;
}

.meta .header {
  font-family: FFSuperGroteskWebProMedium, sans-serif;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-size: 12px;
  color: #123350;
  opacity: 0.5;
  margin-top: 8px;
  padding-left: 0;
  padding-right: 0;
  line-height: 2;
}

.meta .text {
  font-family: FFSuperGroteskWebProRegular, sans-serif;
  letter-spacing: 0.10em;
  float: right;
  line-height: 2;
  text-align: right;
  padding-left: 0;
  padding-right: 0;
}

.meta li p {
  display: inline-block;
  margin: 0;
}

.abstract {
  width: 50%;
  margin-top: 30px;
  margin-bottom: 65px;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}

.abstract p {
  font-family: TiemposRegular, serif;
  line-height: 1.75;
  letter-spacing: 0;
  font-size: 16px;
  margin: 0 0 10px;
}

.abstract a {
  color: inherit;
  text-decoration: none;
  transition: color 0.5s ease;
  border-bottom: 3px solid #d2d2d2;
}

/* Interview */

.interview {
  display: flex;
}

.links {
  width: 25%;
}

.personal-links {
  padding: 40px 0;
  margin-bottom: 25px;
  background-color: #ffe8da;
  text-align: center;
  font-family: FFSuperGroteskWebProRegular, sans-serif;
  letter-spacing: 0.15em;
  font-size: 16px;
  color: #123350;
  text-decoration: none;
}

.personal-links ul li {
  margin-bottom: 30px;
}

.personal-links ul li a {
  font-size: 16px;
  border-bottom: 3px solid #d2d2d2;
  color: #123350;
  text-decoration: none;
}

.personal-links h3 {
  margin: 10px 0 50px 0;
  text-transform: uppercase;
  font-size: 12px;
}

.post {
  width: 50%;
  border: 2px solid green;
}

strong {
  font-size: 16px;
  font-weight: 700;
  color: #ff936d;
  margin: 40px 0 10px 0;
}

.post p {
  font-family: TiemposRegular, serif;
  line-height: 1.75;
  letter-spacing: 0;
  font-size: 16px;
  color: #333;
}

/* Responsiveness */
@media (max-width 800px) {
 section {
  max-width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
 }

 .nav {
  padding-bottom: 20px;
 }

 .nav li {
  padding: 10px;
 }
}
